:root {
  --bg-color: #ffffff;
  --text-color: #121212;
  --primary-color: #292929;
  --secondary-color: #757575;
  --accent-color: #ffae00;
  --menu-bar-bg: #000;
  --heading-font: "Dosis", serif;
  --paragraph-font: "Inter", serif;
  --card-shadow: 0 8px 32px rgba(31, 38, 135, 0.5);
  --card-bg: #ffffff;
  --nav-active-color: #fff;
  --nav-inactive-color: #fff;
  --nav-active-shadow: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.1));
  --primary-gradient: linear-gradient(
    135deg,
    #6366f1 0%,
    #a855f7 50%,
    #ec4899 100%
  );
  --overlay-active-color: rgba(83, 80, 80, 0.5);
}

[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --primary-color: #292929;
  --secondary-color: #757575;
  --accent-color: #ffae00;
  --menu-bar-bg: #fff;
  --card-bg: linear-gradient(to right, #141e30, #243b55);
  --card-shadow: 0 8px 32px rgba(165, 170, 244, 0.6);
  --nav-active-color: #757575;
  --nav-inactive-color: #e0e0e0;
  --nav-active-shadow: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.1));
  --overlay-active-color: rgba(0, 0, 0, 0.7);
}

[data-theme="light"],
html {
  --overlay: hsl(0 0% 0% / 0.15);
  --button: color-mix(in lch, canvas, hsl(190 60% 80%));
  color-scheme: light only;
  background: white;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
[data-theme="dark"] {
  --overlay: hsl(0 0% 100% / 0.23);
  --button: color-mix(in lch, canvas, hsl(190 60% 40%));
  color-scheme: dark only;
  background: black;
}
@media (prefers-color-scheme: dark) {
  html {
    --overlay: hsl(0 0% 100% / 0.23);
    --button: color-mix(in lch, canvas, hsl(190 60% 40%));
    color-scheme: dark only;
    background: black;
  }
}

body {
  margin: 0;
  transition: background 0.3s ease, color 0.3s ease;
}
body::before {
  --size: 45px;
  --line: color-mix(in lch, canvasText, transparent 85%);
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(-20deg, transparent 50%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background:var(--bg-color);
  transition: all 0.3s ease-in-out;
}
header a {
  font-family: "Roboto", serif;
  text-transform: uppercase;
  color: var(--text-color);
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: normal;
  font-weight: 600;
}

/* Overlay */
.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:var(--overlay-active-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transform: translateX(-100vw);
}
.overlay-active {
  transform: translateX(0);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}
/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content:start;
  list-style: none;
}

nav ul li {
  height: 15%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: var(--text-color);
  text-transform: uppercase;
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 2.8rem;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}
.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}
.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}
.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}
.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* --------------------------- Menu Bars --------------------------- */

.menu-bars {
  position: fixed;
  z-index: 999;
  display: inline;
  cursor: pointer;
  transform: rotate(180deg);
}

.bar1,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: var(--menu-bar-bg);
  margin: 8px 0;
  transition: 0.25s;
}

.bar2 {
  width: 15px;
  height: 2px;
  background-color: var(--menu-bar-bg);
  margin: 8px 0;
  transition: 0.25s;
}

/* Rotate first bar */
.change .bar1 {
  filter: drop-shadow(0 0 0.75rem #0000);
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  filter: drop-shadow(0 0 0.75rem #0000);
  transform: rotate(45deg) translate(-6px, -8px);
}

/* ------------------------------ Sections -------------------------------- */

section {
  width: 100%;
  height: 100vh;
}
section#about {
  padding-top: 6rem;
}
/* Theme toggle */
.theme-toggle {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

#theme-btn {
  background: var(--primary-color);
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* When scrolling down, hide the header */
#nav-container.sticky {
  transform: translateY(-100%);
}

/* When scrolling up, show the header */
#nav-container:not(.sticky) {
  transform: translateY(0);
}
.about-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/*
.message {
  width: 35rem;
  height: 30rem;
  text-align: left;
  padding: 1rem;
}
.message h1 {
  font-size: 2.5rem;
  color: var(--text-color);
  font-family: "Bakbak One", serif;
  line-height: 1.5;
  padding: 0.5rem 0;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1rem;
  text-align: left;
  font-weight: 600;
}
.message p {
  font-size: 1.5rem;
  color: var(--text-color);
  font-family: "Lato", serif;
  line-height: 1.3;
  transition: all 0.3s ease-in-out;
  text-align: left;
  font-weight: 500;
}
.img-container img {
  border-radius: 0.5rem;
  width: 25rem;
  height: 25rem;
  animation: float 6s ease-in-out infinite;
} */
.message {
  display: grid;
  grid-template-areas:
    "title"
    "description"
    "photograph";
  border: none;
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 30rem;
}

.message h1 {
  grid-area: title;
  font-size: 2.5rem;
  color: var(--text-color);
  font-family: "Inter", serif;
  line-height: 1;
  padding: 0.5rem 0;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1rem;
}

.message p {
  grid-area: description;
  font-size: 1.5rem;
  color: var(--text-color);
  font-family: "Lato", serif;
  line-height: 1.3;
  transition: all 0.3s ease-in-out;
  text-align: left;
  font-weight: 500;
  /* word-wrap: break-word; */
  width: 21rem;
}
.img-container {
  grid-area: photograph;
  display: flex;
  justify-content: center;
}
.img-container img {
  border-radius: 0.5rem;
  width: 15rem;
  height: 14rem;
  animation: float 6s ease-in-out infinite;
  object-fit: cover;
  box-shadow: var(--card-shadow);
}
.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 37.5em) {
  .menu-bars {
    top: 0.5rem;
    right: 2rem;
  }
}
@media only screen and (min-width: 48em) {
  .overlay {
    position: static;
    background: none;
    transform: none;
    backdrop-filter: none;
    height: auto;
  }

  nav {
    height: auto;
    margin: 0;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    height: 35px;
  }

  nav ul li {
    height: auto !important;
    overflow: visible !important;
  }

  nav li a {
    position: static;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: normal;
    color: var(--text-color) !important;
    transition: all 0.3s ease;
    
  }

  nav li a:hover {
    transform: scale(1.05);
    color: #ccc !important;
  }

  /* Remove mobile animations */
  .slide-out-1,
  .slide-out-2,
  .slide-out-3,
  .slide-out-4,
  .slide-out-5 {
    animation: none !important;
  }
  .menu-bars {
    display: none;
  }

  header {
    height: 60px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: none;
    padding: 0.5rem 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .img-container img {
    border-radius: 0.5rem;
    width: 25rem;
    height: 25rem;
    animation: float 6s ease-in-out infinite;
  }
  .message {
    grid-template-areas:
      "title photograph"
      "description photograph"
      "description photograph";
      justify-content: space-between;
      width: 60rem;
      height: 30rem;
  }
  .message p{
    width: 28rem;
  }
}
/* New animations */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
